<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Page visited at <span><%=count%></span> time(s)</h1>
        <form action='/plus2' method='post'>
            <input class="plus2" type='submit' value='+2'>
        </form>
        <form action='/reset' method='post'>
            <input class="reset" type='submit' value='Clear'>
        </form>
    </div>
</body>
</html>